# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
application/node_modules

# testing
application/coverage

# production
application/build

# misc
application/.DS_Store
application/npm-debug.log
